body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.left{
    /* border: 2px solid white; */
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 20px;
}

.left-logo
{
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

.center
{
    /* border: 2px solid yellow; */
    display: block;
    width: 50%;
    margin: 40px auto;
}

.center li {
    display: inline-block;
}

.center li a{
    color: white;
    font-weight: bold;
    margin-right: 85px;
    text-decoration: none;
}
.right{
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 20px;
}

.right-btn{
    padding: 10px 3px;
    margin-right: 3px;
    margin-left: 13px;
    border-radius: 10px;
    background-color: red;
    color: white;
}


.container{
    border : 2px solid white;
    border-radius: 20px;
    width: 40%;
    margin: 110px 0 0 90px;
}

.container h1{
    text-align: center;
}

.container input{
margin-left: 59px;
width: 80%;
margin-bottom: 13px;
border-radius: 20px;
}

.container .search {
margin-left: 59px;
width: 80%;
margin-bottom: 13px;
border-radius: 20px;
background-color: red;
color: white;
}

footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: red;
    color: white;
    width: 100vw;
    font-size: 30px;
}