*{
    padding: 0;
    margin: 0;

}
div{
    background-color: pink;
    width: 33px;
    height: 20px;

    padding-left: 14px;
    padding-right: 20px;
    padding-top: 23px;
    padding-bottom: 23px;
    border: 2px solid black;
    margin-top: 4px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 0
}

#hello{
    border: 2px solid purple;
    background-color: aqua;
    margin-top: 4px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 0;
}


#world{
    border: 2px solid purple;
    background-color: rgb(123, 98, 212);
    margin-top: 4px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 0
}